{% extends 'base_main.html' %}

{% block title %}
天天生鲜-用户中心
{% endblock %}

{% block search %}
	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<form action="" method="post">
			 {% csrf_token %}
			<input type="text" class="input_text fl" name="keyword" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
			</form>
		</div>
	</div>
{% endblock %}

{% block contend %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_center_info/">· 个人信息</a></li>
				<li><a href="/order/user_center_order/" class="active">· 全部订单</a></li>
				<li><a href="/user/user_center_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for order in page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.add_time }}</li>
					<li class="col02">{{ order.order_sn }}</li>
					<li class="col02 stress">{{ order.pay_status }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								{% for order_goods in order.goods.all %}
								<ul class="order_goods_list clearfix">
									<li class="col01"><img {% if order_goods.goods.goods_desc %} src="{{ order_goods.goods.goods_front_image }}" {% endif %} src="/media/{{ order_goods.goods.goods_front_image }}"></li>
									<li class="col02" style="line-height:24px;">{{ order_goods.goods.name }}<em>{{ order_goods.goods.shop_price }}/500g</em></li>
									<li class="col03">{{ order_goods.goods_nums }}</li>
									<li class="col04">11.80元</li>
								</ul>
								{% endfor %}

							</td>
							<td width="15%">{{ order.order_mount }}元</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
				{% endfor %}


				<div class="pagenation">
					{% if page.has_previous %}
					<a href="{% url 'order:user_center_order' %}?page={{ page.previous_page_number }}">上一页</a>
					{% endif %}
					{% for i in page.paginator.page_range %}
					<a href="{% url 'order:user_center_order' %}?page={{ i }}" class="active">{{ i }}</a>
					{% endfor %}
					{% if page.has_next %}

					<a href="{% url 'order:user_center_order' %}?page={{ page.next_page_number }}">下一页></a>
					{% endif %}
				</div>
		</div>
	</div>
{% endblock %}

